body {
    background-color: #a1a1a1cc;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 25px;
}

em strong {
    color: red;
}
